<main class="main" style="display: flex; flex-direction: row;">
  <div style="flex: 1; flex-direction: column;">
    <p>{{statusText}}</p>
    <input #urlInput placeholder="Enter address" [defaultValue]="'ws://192.168.1.141:9002'" />
    <button (click)="connect()">Connect</button>
    <button (click)="disconnect()">Disconnect</button>
    <p>{{prevString}}</p>

    @if(gp) {
      <!-- <div style="display: flex; flex-direction: row">
        <Joystick yAxis={gp?.axes[1] || 0} />
        <Joystick yAxis={gp?.axes[3] || 0} />
      </div> -->
      <p>Left Drive: {{(gp.axes[1] * 100)}}</p>
      <p>Right Drive: {{(gp.axes[3] * 100)}}</p>

      @for (button of gp.buttons; track $index) {
        <p>
          {{$index}}
          <span [style.color]="button.pressed ? 'green' : 'red'">{{button.pressed ? 'Pressed' : 'Not Pressed'}}</span>
        </p>
      }
    } 
    @else {
      <p>No gamepad connected :(</p>
    }
  </div>

  <div #iframeContainer style="flex: 1; flex-direction: column; height: calc(100vh - 50px);">
    <button (click)="addIFrame()">+</button>
    <p></p>
    @for (frame of iframes; track $index) {
      <input placeholder="Enter URL" style="width: 70%" [defaultValue]="frame.url" (keyup)="editIFrame($event, $index)" />
      <button (click)="removeIFrame($index)">X</button>
      <p></p>
      <iframe
        [src]="frame.safeUrl"
        [title]="'Frame ' + $index"
        style="width: 100%"
        [style.height.px]="iframeContainer.offsetHeight / iframes.length - 50"
      ></iframe>
    }
  </div>
</main>

<router-outlet />
